body, main {
    background-color: #F7F7F7;
}

.form-check {
      display: inline;
      padding-left: 0;
      padding-right: 20px;
}
.form-check input {
      margin-left: 0;
      margin-right: -20px;
}

.container {
    padding: 15px 0px 45px;
}

.carousel {
    width: 95%;
    height: 500px !important;
    background-color: white;
    border-color: black ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    padding: 3%;
}

#bampfaCarouselExampleIndicators, #deyoungCarouselExampleIndicators,
#legionofhonorCarouselExampleIndicators, #omcaCarouselExampleIndicators,
#fraenkelCarouselExampleIndicators {
    padding: 100px 100px;
}

.carousel-caption {
    position: absolute;
    right: 0% !important;
    bottom: 50px !important;
    left: 53% !important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

img {
    height: 17em !important;
    padding-left: 3%;
    align-content: center;
}

h3 a {
    color: #4c4c4c;
}

p {
    font-size: 1.5em;
    color: #4c4c4c;
}

h1 a {
    font-size: 1em;
    color: #f58026;
}

li.active{
    background-color: #f58026;
}

.carousel-indicators li {
    background-color: #4c4c4c !important;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}