<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Arts Concierge</title>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{url_for('.static', filename='css/index.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body class="text-center">

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">The Arts Concierge</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{{ url_for('about') }}">About</a>
          {% if current_user.is_anonymous %}
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          {% else %}
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">What Would You Like To See Today?</h1>
        <p class="lead">
            The Arts Concierge will be your guide to finding art anywhere.
            Never again will you need to wonder where an artwork is, or if it is currently on view.
            Become a part of The Arts Concierge and help others get exposed to art worldwide!
            <br>
            For now please enjoy an incredibly small segment of what The Arts Concierge will be able to offer.
            The Bay Area Art Tracker serves as a platform to find current art exhibits around the San Francisco Bay Area.
        </p>
        <p class="lead">
          <a href="{{ url_for('bayareatracker') }}" class="btn btn-lg btn-secondary">The Bay Area Tracker</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>© Copyright <a href="https://peterhardy22.github.io/">Peter Phelps Hardy</a> 2020.</p>
        </div>
      </footer>
    </div>

    </body>
</html>